@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lexend+Deca:wght@400;600&display=swap');

body{
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter',sans-serif;
    font-size: 15px;
}
.card{
    display: flex;
    margin: 100px 175px;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    background-color: hsl(244, 37%, 16%);
}
.text{
    flex: 1;
    padding: 0 55px 0 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
}
.backgroundimg{
    flex: 1;
    background-image:linear-gradient( hsl(277, 64%, 61%)),url(images/image-header-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 479px;
    border-radius: 0 10px 10px 0;
}
.text h1{color: hsl(0, 0%, 100%);
    font-weight: 700; }
.text h1 span{color: hsl(277, 64%, 61%);}
.text p{
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}
.stats{
    display: grid;
    margin-top: 70px;
    gap: 20px;
    grid-template-columns: repeat(3,auto);
}
.stat h2{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-bottom: 0;
}
.stat p{
    margin-top: 0;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Lexend Deca',sans-serif;
}
.attribution{
    margin-top: -50px;
    color: hsla(0, 0%, 100%, 0.75);
}